.header-wrap{
  height: 10%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.header-image{
  width: 400px;
  object-fit: contain;
}

.form-outer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

.form-inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  align-items: center;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 3px 3px #e1e1e1;
}

.form-heading{
  font-size: 28px;
  font-weight: 500;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

input {
  padding: 8px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.submit-button {
  background: #6390df;
  border: 1px solid #ccc;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}

.submit-button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
.table-outer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.search-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid lightgray;
  align-items: baseline;
}

.employee-img {
  height: 90px;
  width: 100px;
  object-fit: cover;
}

th {
  padding: 5px 30px;
  font-size: 18px;
  color: #263f73;
}

td {
  text-align: center;
}

input[type="search"] {
  margin-top: 20px;
}

.search-span{
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
}

table td, th{
  border:1px solid #b4b0b0;
}

table{
  border-collapse:collapse;
  border:1px solid #b4b0b0;
}